<!-- <p>balaji works!</p> -->
<!-- //component -->
         <!-- <h1 > hello {{ name  }}</h1> -->

<!-- //property binding -->

          <!-- <img [src]="image" alt="" class="center" >  -->



<!-- //event binding-->
           <!-- <div><button (click)="onClick()" >welcome to angular</button> -->


<!-- <p [ngClass]="'cl'">this is kalyani </p> -->
<!-- <input type="text"[(ngModel)]="value"> -->
<!-- <h2> {{ value }} </h2>
</div> -->


<!-- event binding//  -->

                  <!-- <div>
                        <button (click)="onClick()">welcome</button>
                     </div>   -->

<!-- ?//Attribute binding -->
 <!-- <table border="1"> -->

  <!-- <td [attr.colspan]="col">emplayee details</td>
<tr>
    <td>name</td>
    <td>age</td>
    <td>place</td> 
 </tr>
<tr>
    <td>akhitha</td>
    <td>123</td>
    <td>shadnagar</td>
</tr> 
<tr>
    <td>pooja</td>
    <td>456</td>
    <td>hyderabad</td>
</tr>
</table>   -->

<!-- two way datadinding -->
<!-- <input type="text" [(ngModel)]="username"> 
<div *ngIf="username">List of courses</div>
<div> no courses yet</div> -->