




<!-- <app-balaji></app-balaji> -->


<!-- <app-template></app-template>  -->
<!-- <app-observable></app-observable> -->
<!-- <app-krish></app-krish> -->
<!-- <app-mounica></app-mounica> -->
  <!-- <app-parent><app-parent>   -->
      <!-- <app-parent1></app-parent1>   -->
     <!-- <app-http></app-http> -->
     <!-- <app-form></app-form> -->
    <!-- <app-parent2></app-parent2> -->
    <!-- <app-view></app-view> -->
    <!-- <app-reactive></app-reactive> -->
    <!-- <app-keerti></app-keerti> -->
     <!-- <app-template1></app-template1>  -->
    <!-- <app-sonakshi></app-sonakshi> -->
    <!-- <app-sanjai></app-sanjai> -->
     <!-- <app-dhana></app-dhana>  -->
    <!-- <app-array></app-array> -->
     
    <!-- <app-niresha></app-niresha> -->
    <!-- <app-template1></app-template1> -->
    <!-- <app-prnt></app-prnt> -->
    <!-- <app-parent3></app-parent3> -->
     <!-- <app-reactive1></app-reactive1>  -->
        
     
     <!-- <app-pipe></app-pipe>  -->
       
   <!-- <app-login></app-login> -->
     <app-http></app-http>
     <!-- <app-content></app-content> -->
    <!-- <app-content1></app-content1> -->
     <!-- <app-content-children></app-content-children>  -->
     <!-- <app-customers></app-customers>  -->
    